### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [66]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [67]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [68]:
#Identify dataframe
df = school_data_complete
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [69]:
#Total Unique School
unique_school = df["school_name"].nunique()
unique_school

15

In [70]:
#Total Unique Students student_name
student_count = df["student_name"].count()
student_count

39170

In [71]:
#Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [72]:
#Average Math Score & Average Reading Score 
df["math_score"].mean(),df["reading_score"].mean()

(78.98537145774827, 81.87784018381414)

In [73]:
#% of Math(Passing 70%)
math_pass = df.loc[:,"math_score"] >= 70

math_pass.count()
math_pass.sum()
math_avg_score = (math_pass.sum()/math_pass.count())*100
math_avg_score

74.9808526933878

In [74]:
#% of Reading(Passing 70%)
read_pass = df.loc[:,"reading_score"] >= 70


read_pass.count()
read_pass.sum()
read_avg_score = (read_pass.sum()/read_pass.count())*100
read_avg_score

85.80546336482001

In [75]:
#% of Both Math & Reading(Passing 70%)
both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)

both_pass.count()
both_pass.sum()
both_avg_score = (both_pass.sum()/both_pass.count())*100
both_avg_score

65.17232575950983

In [76]:
both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]

average_scores = scores.mean()
average_scores.__class__
average_scores.head()

math_score       78.985371
reading_score    81.877840
dtype: float64

In [77]:
avg_read_df = df["reading_score"].mean() 
avg_math_df = df["math_score"].mean()

In [78]:
#create dataframe to hold above data
df_summary = pd.DataFrame({"Total Schools": [unique_school],
                            "Total Students":[student_count],
                            "Average Math Score": [avg_math_df],
                            "Average Reading Score": [avg_read_df],
                            "Math Passing Score": [math_avg_score],
                            "Reading Passing Score": [read_avg_score],
                            "Math & Reading Passing Score": [both_avg_score],
                            "Total Budget": [total_budget]})
df_summary

,Total Schools,Total Students,Average Math Score,Average Reading Score,Math Passing Score,Reading Passing Score,Math & Reading Passing Score,Total Budget
0,15,39170,78.985371,81.87784,74.980853,85.805463,65.172326,24649428

In [79]:
#Average Reading Score
df["reading_score"].sum(),df["reading_score"].mean()
df["reading_score"]


math = df.loc[:,"math_score"]
math.__class__
math+1000

40 > 70

pass_grade = df.loc[:,"math_score"] >= 70

pass_grade.count()
pass_grade.sum()
pass_grade.sum()/pass_grade.count()


read_pass = df.loc[:,"reading_score"] >= 70

read_pass.count()
read_pass.sum()
read_pass.sum()/read_pass.count()

both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.count()
both_pass.sum()
both_pass.sum()/both_pass.count()

#set variance

both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]

average_scores = scores.mean()
average_scores.__class__
average_scores.head()




both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]



average_scores = scores.mean()
average_scores.__class__
average_scores.head()




group_total_school = df.groupby(["school_name"])
print(group_total_school)

group_total_school.count().head(10)
unique_school
top_schools = df["school_name"].value_counts()
group_total_school[["math_score", "reading_score"]].sum() / 2

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023025B43940>

                       math_score  reading_score
school_name
Bailey High School       191696.5       201612.5
Cabrera High School       77164.5        78013.5
Figueroa High School     113111.5       119667.5
Ford High School         105592.0       110582.0
Griffin High School       61180.0        61521.5
Hernandez High School    179119.0       187565.5
Holden High School        17892.0        17894.5
Huang High School        111764.0       118405.0
Johnson High School      183471.0       192740.5
Pena High School          40327.0        40425.5
Rodriguez High School    153647.0       161449.0
Shelton High School       73398.0        73720.5
Thomas High School        68194.5        68546.5
Wilson High School        95057.5        95874.0
Wright High School        75314.0        75559.5

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [80]:
#Scnool Types & name
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [81]:
#count students per school
student_count = df["school_name"].value_counts()
student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [82]:
#per school school Budget
school_budget = df.groupby(["school_name"]).mean()["budget"]
student_budget = school_budget/student_count
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [83]:
#Average Math& reading Score 
avg_read =  df.groupby(["school_name"]).mean()["reading_score"]
avg_math =  df.groupby(["school_name"]).mean()["math_score"]

In [84]:
school_passing_both = both_pass.groupby(["school_name"]).count()["student_name"]/student_count*100
school_passing_both

KeyError: 'school_name'

In [ ]:
per_school_summary=pd.DataFrame({"School Type":school_types, 
                                "Total Students":student_count, 
                                    "Total School Budget":school_budget,
                                    "Student Budget": student_budget,
                                    "Average Math Score":avg_math,
                                    "Average Reading Score":avg_read,
                                    "Passing Both": school_passing_both})
per_school_summary

NameError: name 'school_passing_both' is not defined

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#SetUp
avg_read_df = df["reading_score"].mean() 
avg_math_df = df["math_score"].mean()
series_from_math = pd.Series('math_score')
series_from_reading = pd.Series('reading_score')

In [ ]:
#combined overall math and reading score
df['combined_math_reading_score'] = (df['reading_score'] + df['math_score'])/2
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,combined_math_reading_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,94.5
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,85.0

## Top Performing Schools (By % Overall Passing)

In [ ]:
# Unique School Names 
unique_school_name = df["school_name"].unique()
unique_school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
unique_school_types = df["type"].unique()
unique_school_types

array(['District', 'Charter'], dtype=object)

In [ ]:
#Top 5 Schools by overall passing
group_total_school = df.groupby(["school_name"])
print(group_total_school)
group_total_school[['combined_math_reading_score']].mean()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001B442AAD760>

                       combined_math_reading_score
school_name
Bailey High School                       79.041198
Cabrera High School                      83.518837
Figueroa High School                     78.934893
Ford High School                         78.924425
Griffin High School                      83.584128
Hernandez High School                    79.112082
Holden High School                       83.809133
Huang High School                        78.906068
Johnson High School                      79.019429
Pena High School                         83.942308
Rodriguez High School                    78.793698
Shelton High School                      83.542589
Thomas High School                       83.633639
Wilson High School                       83.631844
Wright High School                       83.818611

In [ ]:
#Top 5 performing schools
sorted_df = group_total_school[['combined_math_reading_score']].mean()
sorted_df = sorted_df.sort_values(by=['combined_math_reading_score'], ascending=False)
sorted_df.head()

                    combined_math_reading_score
school_name
Pena High School                      83.942308
Wright High School                    83.818611
Holden High School                    83.809133
Thomas High School                    83.633639
Wilson High School                    83.631844

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#Bottom 5 performing schools
sorted_df = group_total_school[['combined_math_reading_score']].mean()
sorted_df = sorted_df.sort_values(by='combined_math_reading_score')
sorted_df.head()

                       combined_math_reading_score
school_name
Rodriguez High School                    78.793698
Huang High School                        78.906068
Ford High School                         78.924425
Figueroa High School                     78.934893
Johnson High School                      79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
sorted_math_df = group_total_school['math_score'].mean()
sorted_math_df
sorted

In [ ]:
sorted_read_df = group_total_school['reading_score'].mean()
sorted_read_df

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#Identify 9th Graders
ninth_grade = df[(df['grade'] == '9th')]
ninth_grade

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,combined_math_reading_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,94.0
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,71.5
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,91.0
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,77.5
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,86.5
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,86.5
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5

In [ ]:
#9th Grade
school_group = ninth_grade.groupby(['school_name']).mean()
school_group

,Student ID,reading_score,math_score,School ID,size,budget,combined_math_reading_score
school_name,,,,,,,
Bailey High School,20344.481481,81.303155,77.083676,7.0,4976.0,3124928.0,79.193416
Cabrera High School,16969.634470,83.676136,83.094697,6.0,1858.0,1081356.0,83.385417
Figueroa High School,4397.878505,81.198598,76.403037,1.0,2949.0,1884411.0,78.800818
Ford High School,36170.595438,80.632653,77.361345,13.0,2739.0,1763916.0,78.996999
Griffin High School,13031.305623,83.369193,82.044010,4.0,1468.0,917500.0,82.706601
Hernandez High School,9928.620839,80.866860,77.438495,3.0,4635.0,3022020.0,79.152677
Holden High School,23068.314961,83.677165,83.787402,8.0,427.0,248087.0,83.732283
Huang High School,1445.726303,81.290284,77.027251,0.0,2917.0,1910635.0,79.158768
Johnson High School,32399.975714,81.260714,77.187857,12.0,4761.0,3094650.0,79.224286
Pena High School,23766.127273,83.807273,83.625455,9.0,962.0,585858.0,83.716364
Rodriguez High School,28017.408076,80.993127,76.859966,11.0,3999.0,2547363.0,78.926546
Shelton High School,6750.615094,84.122642,83.420755,2.0,1761.0,1056600.0,83.771698
Thomas High School,38356.793926,83.728850,83.590022,14.0,1635.0,1043130.0,83.659436
Wilson High School,14879.667195,83.939778,83.085578,5.0,2283.0,1319574.0,83.512678
Wright High School,25152.370588,83.833333,83.264706,10.0,1800.0,1049400.0,83.549020

In [ ]:
#9th grade Reading avg
school_group['reading_score']

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [ ]:
#Identify 10th Grade
tenth_grade = df[(df['grade'] == '10th')]
tenth_grade

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,combined_math_reading_score
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,91.0
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,90.0
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,80.0
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,77.5
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,95.0
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,88.5
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,77.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5

In [ ]:
school_10_group = tenth_grade.groupby(['school_name']).mean()
school_10_group

,Student ID,reading_score,math_score,School ID,size,budget,combined_math_reading_score
school_name,,,,,,,
Bailey High School,20365.058918,80.907183,76.996772,7.0,4976.0,3124928.0,78.951977
Cabrera High School,16909.487124,84.253219,83.154506,6.0,1858.0,1081356.0,83.703863
Figueroa High School,4332.703801,81.408912,76.539974,1.0,2949.0,1884411.0,78.974443
Ford High School,36122.879944,81.262712,77.672316,13.0,2739.0,1763916.0,79.467514
Griffin High School,12983.711823,83.706897,84.229064,4.0,1468.0,917500.0,83.967980
Hernandez High School,9930.783211,80.660147,77.337408,3.0,4635.0,3022020.0,78.998778
Holden High School,23076.342105,83.324561,83.429825,8.0,427.0,248087.0,83.377193
Huang High School,1450.796610,81.512386,75.908735,0.0,2917.0,1910635.0,78.710561
Johnson High School,32467.993480,80.773431,76.691117,12.0,4761.0,3094650.0,78.732274
Pena High School,23769.208000,83.612000,83.372000,9.0,962.0,585858.0,83.492000
Rodriguez High School,28050.171154,80.629808,76.612500,11.0,3999.0,2547363.0,78.621154
Shelton High School,6748.301339,83.441964,82.917411,2.0,1761.0,1056600.0,83.179688
Thomas High School,38346.368171,84.254157,83.087886,14.0,1635.0,1043130.0,83.671021
Wilson High School,14884.930693,84.021452,83.724422,5.0,2283.0,1319574.0,83.872937
Wright High School,25122.296296,83.812757,84.010288,10.0,1800.0,1049400.0,83.911523

In [ ]:
#10th Grade Average Reading
school_10_group['reading_score']

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [ ]:
#11th Grade Average Reading Score 
eleventh_grade = df[(df['grade'] == '11th')]
eleventh_grade
school_11_group = eleventh_grade.groupby(['school_name']).mean()
school_11_group

school_11_group['reading_score']

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [ ]:
twelfth_grade = df[(df['grade'] == '12th')]
twelfth_grade
school_12_group = twelfth_grade.groupby(['school_name']).mean()
school_12_group

school_12_group['reading_score']

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [ ]:
ninth_grade = df[(df['grade'] == '9th')]
ninth_grade
school_group = ninth_grade.groupby(['school_name']).mean()
school_group

school_group['math_score']

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [ ]:
tenth_grade = df[(df['grade'] == '10th')]
tenth_grade
school_10_group = tenth_grade.groupby(['school_name']).mean()
school_10_group

school_10_group['math_score']

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [ ]:
eleventh_grade = df[(df['grade'] == '11th')]
eleventh_grade
school_11_group = eleventh_grade.groupby(['school_name']).mean()
school_11_group

school_11_group['math_score']

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [ ]:
twelfth_grade = df[(df['grade'] == '12th')]
twelfth_grade
school_12_group = twelfth_grade.groupby(['school_name']).mean()
school_12_group

school_12_group['math_score']

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [105]:
#Students per school # Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [112]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(student_budget, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Student Budget,Average Math Score,Average Reading Score,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,<$585

## Scores by School Size

* Perform the same operations as above, based on school size.

In [116]:
per_school_counts = school_data_complete["school_name"].value_counts()

In [111]:
#Students per school # Calculate the total student count
per_size_counts = school_data_complete.groupby(["school_name"]).mean()["size"]
per_size_counts

school_name
Bailey High School       4976.0
Cabrera High School      1858.0
Figueroa High School     2949.0
Ford High School         2739.0
Griffin High School      1468.0
Hernandez High School    4635.0
Holden High School        427.0
Huang High School        2917.0
Johnson High School      4761.0
Pena High School          962.0
Rodriguez High School    3999.0
Shelton High School      1761.0
Thomas High School       1635.0
Wilson High School       2283.0
Wright High School       1800.0
Name: size, dtype: float64

In [118]:
# Calculate the total school budget and per capita spending
per_size_budget = school_data_complete.groupby(["school_name"]).mean()["size"]
per_size_capita = per_size_budget / per_size_counts

In [124]:
# Establish the bins 
student_size_bins = [0, 2000, 3000, 4000, 5000]
student_size_labels = ["0-2000", "2000-3000", "3000-4000", ">4000"]

In [125]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_size_df = per_school_summary.copy()

In [126]:
# Use `pd.cut` to categorize spending based on the bins.
school_size_df["Size Ranges"] = pd.cut(per_size_budget, student_size_bins, labels=student_size_labels, right=False)
school_size_df

,School Type,Total Students,Total School Budget,Student Budget,Average Math Score,Average Reading Score,Size Ranges
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,>4000
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0-2000
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,2000-3000
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,2000-3000
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0-2000
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,>4000
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0-2000
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,2000-3000
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,>4000
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0-2000
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,3000-4000
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0-2000
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0-2000
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,2000-3000
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0-2000

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,combined_math_reading_score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,94.5
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,82.5
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,78.5
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,94.5
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,85.0

In [ ]:
#Students per school # Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [ ]:
# Calculate the total school budget and per school size 
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [ ]:
# Establish the bins 
size_bins = [0, 585, 630, 645, 680]
size_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)
school_spending_df

,combined_math_reading_score,Spending Ranges (Per Student)
school_name,,
Rodriguez High School,78.793698,$630-645
Huang High School,78.906068,$645-680
Ford High School,78.924425,$630-645
Figueroa High School,78.934893,$630-645
Johnson High School,79.019429,$645-680
Bailey High School,79.041198,$585-630
Hernandez High School,79.112082,$645-680
Cabrera High School,83.518837,<$585
Shelton High School,83.542589,$585-630
Griffin High School,83.584128,$585-630
Wilson High School,83.631844,<$585
Thomas High School,83.633639,$630-645
Holden High School,83.809133,<$585
Wright High School,83.818611,<$585
Pena High School,83.942308,$585-630