### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [66]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [67]:
#Identify dataframe
df = school_data_complete
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [68]:
#Total Unique School
unique_school = df["school_name"].nunique()
unique_school

15

In [69]:
#Total Unique Students student_name
df["student_name"].count()

39170

In [70]:
#Total Budget
df["budget"].sum()

82932329558

In [71]:
#Average Math Score & Average Reading Score 
df["math_score"].mean(),df["reading_score"].mean()

(78.98537145774827, 81.87784018381414)

In [72]:
#% of Math(Passing 70%)
math_pass = df.loc[:,"math_score"] >= 70

math_pass.count()
math_pass.sum()
math_avg_score = (math_pass.sum()/math_pass.count())*100
math_avg_score

74.9808526933878

In [73]:
#% of Reading(Passing 70%)
read_pass = df.loc[:,"reading_score"] >= 70


read_pass.count()
read_pass.sum()
read_avg_score = (read_pass.sum()/read_pass.count())*100
read_avg_score

85.80546336482001

In [74]:
#% of Both Math & Reading(Passing 70%)
both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)

both_pass.count()
both_pass.sum()
both_avg_score = (both_pass.sum()/both_pass.count())*100
both_avg_score

65.17232575950983

In [90]:
both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]

average_scores = scores.mean()
average_scores.__class__
average_scores.head()

math_score       78.985371
reading_score    81.877840
dtype: float64

In [75]:
#Dataframe to hold above results

AttributeError: 'list' object has no attribute 'show'

In [ ]:
#Average Reading Score
df["reading_score"].sum(),df["reading_score"].mean()
df["reading_score"]


math = df.loc[:,"math_score"]
math.__class__
math+1000

40 > 70

pass_grade = df.loc[:,"math_score"] >= 70

pass_grade.count()
pass_grade.sum()
pass_grade.sum()/pass_grade.count()


read_pass = df.loc[:,"reading_score"] >= 70

read_pass.count()
read_pass.sum()
read_pass.sum()/read_pass.count()

both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.count()
both_pass.sum()
both_pass.sum()/both_pass.count()

#set variance

both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]

average_scores = scores.mean()
average_scores.__class__
average_scores.head()

math_score       78.985371
reading_score    81.877840
dtype: float64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [110]:
#Top 5 Schools by overall passing
group_total_school = df.groupby(["school_name"])
print(group_total_school)
group_total_school[["reading_score", "math_score"]].mean()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000247E8625B80>

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

'math_scorereading_score'

In [ ]:
both_pass = (df.loc[:,"math_score"] >= 70) & (df.loc[:,"reading_score"] >= 70)
both_pass.mean()
column_names = ["math_score", "reading_score"]
scores = df.loc[:,column_names]



average_scores = scores.mean()
average_scores.__class__
average_scores.head()




group_total_school = df.groupby(["school_name"])
print(group_total_school)

group_total_school.count().head(10)
unique_school
top_schools = df["school_name"].value_counts()
group_total_school[["math_score", "reading_score"]].sum() / 2

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type